
  body {
    transition: background 0.5s ease;
    color: white;
   background: #020024;
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
  }

  .card {
    border-radius: 15px;
    background: rgba(255,255,255,0.2);
    backdrop-filter: blur(10px);
  }

  h1, h2, h5 {
    color: white;
  }

  #weatherIcon {
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.box{
  display: flex;
  justify-content: center;
}

.search-box {
  width: 25%;
  margin: auto;
  transition: all 0.3s ease;
}


@media (max-width: 992px) {
  .search-box {
    width: 50%;
  }
}


@media (max-width: 768px) {
  .search-box {
    width: 75%;
  }
}


@media (max-width: 480px) {
  .search-box {
    width: 90%;
  }
}

